:root {
    --darkred: #B32020;
}

.why{
    font-family: "Georgia", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 65%;
}

.subtitle {
    font-family: "Happy Monkey", cursive;
    font-size: 12px;
    color: #D4D6D6;
    margin-bottom: 1rem;
    margin-top: 0;
}

.why-container {
    flex: 1;
    width: 100%;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--darkred);

}

.why-text {
    color: #fff;
    line-height: 1.6;
}

.bold {
    font-weight: bold;
}

.why-title {
    color: #fff;
    margin-bottom: 0;
}